@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap');

/* Color Variable */
:root {
    --color-White: hsl(0, 0%, 100%);
    --color-light-gray: hsl(212, 45%, 89%);
    --color-grayish-blue: hsl(220, 15%, 55%);
    --color-dark-blue: hsl(218, 44%, 22%);
}

/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background: var(--color-light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img {
    max-width: 100%;
    border: none;
    border-radius: 15px;
}

/* Card */
.qrCard-text {
    text-align: center;
    margin: 20px 0;
}

.qrCard-text p {
    padding-inline: 1 rem;
}

.qrCard {
    background-color: #fff;
    border-radius: 20px;
    width: 90%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 16px;
}

.qrCard h2 {
    margin-bottom: 20px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
